<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="project.Basics1Test" />
			<class name="project.Basics2Test" />
			<class name="project.Basics3Test" />
			<class name="project.ParameterTest" />
			<class name="project.PathScenariosTest" />
			<class name="project.AuthenticationTest" />
			<class name="project.PassingParamToOtherAPI" />
			<class name="project.PostTest" />
			<class name="project.LogBasedOnPostTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
